@import './variables'

.tablet-only,
.desktop-only,
.mobile-only
  display: none

@media screen and (min-device-width: 768px) and (max-width: 1024px)
  .tablet-only
    display: block

@media screen and (min-device-width: 1025px)
  .desktop-only
    display: block

@media screen and (min-width: 320px) and (max-width: 767px)
  .mobile-only
    display: block

.btn
  background-color: #1479ff
  text-transform: uppercase
  text-decoration: none
  display: inline-block
  color: white
  font-weight: bold
  padding: 18px 19px 18px 21px
  border-radius: 5px

.logo
  padding: 50px

.title-main
  font-weight: 500
  color: $color-title
  margin-bottom: 15px

.content
  margin: 0 auto

.text-center
  text-align: center

.text-left
  text-align: left

.price-formatted
  font-size: 38px
  font-weight: bold

  & > *
    vertical-align: middle

  .price
    font-size: 1.422em

    .currency
      font-size: 0.4em
      margin-right: 2px

    .sub-text
      font-size: 0.26em
      margin-left: 2px

.price
  font-size: 24px
  font-weight: bold
  word-spacing: -0.3em

  .currency,
  .sub-text
    font-weight: 500
    font-size: 0.5em

  .currency
    vertical-align: super

  .sub-text
    vertical-align: baseline

  &.old
    position: relative
    color: $color-gray
    padding: 0 5px
    display: inline-block
    white-space: nowrap

    &:before
      content: ''
      position: absolute
      top: 50%
      width: 100%
      left: 0
      border-bottom: 2px solid $color-gray

.list
  list-style: none
  padding: 0
  margin-bottom: 35px
  text-align: left

  li
    font-weight: 500
    color: #48578e
    margin-bottom: 15px

    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      margin-right: 15px
      height: 20px
      width: 20px
      background: no-repeat url('../images/Check 1x.png')
      background-size: contain

.section-main
  .text
    color: $color-text

.section-feedbacks-list
  display: flex

.feedback-card
  border-radius: 10px
  background-image: linear-gradient(to bottom, #0071c4, #5957ff)
  box-sizing: border-box
  color: white
  padding: 60px 99px 40px
  text-align: center
  position: relative

  img
    width: 90px

  &:before
    background-size: contain
    content: ''
    position: absolute
    display: block
    z-index: -1

  &:after
    content: '“'
    font-size: 50px
    position: absolute
    top: 40px
    left: 40px

  &:nth-child(1):before
    background-image: url('../images/purpleBubble.png')
    height: 65px
    width: 67px
    top: -32px
    left: -16px

  &:nth-child(2):before
    background-image: url('../images/purpleBubble2.png')
    height: 32px
    width: 75px
    bottom: -16px
    right: -19px

  & > *
    margin: 0

  .feedback-text
    margin-bottom: 20px

  .feedback-author
    font-size: 11px
    font-weight: bold
    margin-bottom: 34px

.section
  text-align: center

  .title
    font-weight: 500
    color: $color-title
    margin-top: 0
    margin-bottom: 15px

  .text
    text-align: center
    color: $color-text

.section-story
  .steps-list
    display: flex

  .step
    img
      margin-bottom: 20px
      max-width: 300px
    p
      font-size: 12px
      font-weight: 500
      padding: 0 35px
      color: #414b73

.right-sided-quote
  color: $color-text
  position: relative
  padding-left: 50px
  text-align: left

  .quote-icon
    position: absolute
    left: 0
    top: 0
    max-width: 30px

  .quote-title
    font-weight: 500
    margin-top: 5px
    margin-bottom: 10px

  .quote-text
    margin: 0

.section-video
  text-align: center

  .customers
    display: flex
    justify-content: space-between
    align-items: center

    a
      pointer-events: none

    img
      max-height: 28px

.section-integrations
  color: $color-title

  .title
    font-weight: 500
    text-transform: uppercase
    color: $color-title
    display: inline-block

  .link
    display: inline-block
    vertical-align: middle

    img
      max-height: 31px

  .list
    text-align: left

  .title-list
    font-weight: bold
    margin: 0

  .list-integrations
    list-style-type: none
    padding: 0
    margin: 0
    padding-bottom: 50px
    margin-bottom: 40px
    border-bottom: 1px solid #cdcdcd

    li
      display: inline

      &:after
        content: ','

      &:last-of-type:after
        content: ''

  .price-container
    display: flex

    .list
      flex-shrink: 0
      margin-top: 0

    .price-info
      padding-top: 10px
      padding-bottom: 10px

    .price-formatted
      color: $color-blue

    .btn
      margin-bottom: 30px

  .list,
  .price-info
    margin: 0

.section-achivements
  img
    max-height: 45px

  .achivements
    display: flex
    box-shadow: 0 0 14px 0 #dddddd
    border-radius: 10px
    background-color: white
    text-align: left

    .achivement
      text-decoration: none
      position: relative
      flex-grow: 1

      &:nth-child(1)
        border-right: 1px solid #dadada

      &:before
        content: ''
        position: absolute
        background: no-repeat url('../images/star.png')
        background-size: contain
        display: inline-block

    .achivement-title
      color: $color-title
      font-weight: bold

    .achivement-date
      color: $color-text

.section-feedback
  position: relative
  box-sizing: border-box
  color: $color-text

  .feedback-author-img
    position: absolute
    left: 0
    top: 0
    max-width: 65px

  .feedback-text
    position: relative

    &:before
      content: '“'
      position: absolute
      font-size: 50px
      top: -35px
      left: -35px

  .feedback-author,
  .feedback-author-position
    font-weight: bold
    color: #404b77
    margin: 0

.section-track
  .letters
    text-align: left
    position: relative

    .letters-bg
      background-image: linear-gradient(to bottom, #0b6af3, #108ef3)
      border-radius: 20px
      position: absolute
      width: 150%
      z-index: -1
      top: 0
      right: -63%

  .letter
    background-color: white
    border: 1px solid #c4c4c4
    border-radius: 5px
    display: flex
    align-items: center
    font-weight: 500

    &:before
      content: ''
      background-image: url('../images/checkbox.png')
      background-size: contain
      display: inline-block

    &.unchecked
      background-color: rgba(255, 255, 255, 0.5)

      &:before
        background-image: url('../images/checkbox_empty.png')

    .letter-title
      flex-grow: 1

    .letter-type,
    .letter-source
      text-transform: uppercase

      &:before
        color: rgba(37, 58, 122, 0.5)

    .letter-type
      border-right: 1px solid #6c80ba

      &:before
        content: 'TYPE: '

    .letter-source

      &:before
        content: 'SOURCE: '

.offer-big
  display: flex
  align-items: center
  box-shadow: 0 0 14px 0 #dddddd
  background-color: white
  border-radius: 10px
  text-align: center

  & > *
    flex-grow: 1
    flex-shrink: 0
    border-right: 1px solid #979797

  & > div:last-of-type
    border: none

  .offer-text
    font-weight: bold
    color: $color-title
    text-align: left

.phases
  display: flex
  color: $color-title
  border-bottom: 1px solid #cdcdcd

  .phase
    .phase-number
      letter-spacing: 0.7px
      font-weight: bold
      text-transform: uppercase
      margin-top: 0

    .phase-title
      font-weight: 500
      margin-top: 0
      color: $color-title
      margin-bottom: 20px

    .phase-text
      border-bottom: 1px solid #d7d7d7
      font-weight: 500
      color: #414b73
      font-size: 12px
      padding-bottom: 20px
      margin-bottom: 20px

    .phase-number,
    .phase-content
      box-sizing: border-box

.list-faq
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  text-align: left

  .faq
    width: 50%

  .faq-title
    font-weight: 500
    color: $color-title

  .faq-text
    color: $color-text

footer
  border-top: 1px solid #d1d1d1
  text-align: center

  img
    height: 28px
    margin-bottom: 15px

  p
    font-size: 12px
    margin: 0 20px
