@charset "UTF-8";
.tablet-only,
.desktop-only,
.mobile-only {
  display: none; }

@media screen and (min-device-width: 768px) and (max-width: 1024px) {
  .tablet-only {
    display: block; } }
@media screen and (min-device-width: 1025px) {
  .desktop-only {
    display: block; } }
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-only {
    display: block; } }
.btn {
  background-color: #1479ff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 18px 19px 18px 21px;
  border-radius: 5px; }

.logo {
  padding: 50px; }

.title-main {
  font-weight: 500;
  color: #2c365c;
  margin-bottom: 15px; }

.content {
  margin: 0 auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.price-formatted {
  font-size: 38px;
  font-weight: bold; }
  .price-formatted > * {
    vertical-align: middle; }
  .price-formatted .price {
    font-size: 1.422em; }
    .price-formatted .price .currency {
      font-size: 0.4em;
      margin-right: 2px; }
    .price-formatted .price .sub-text {
      font-size: 0.26em;
      margin-left: 2px; }

.price {
  font-size: 24px;
  font-weight: bold;
  word-spacing: -0.3em; }
  .price .currency,
  .price .sub-text {
    font-weight: 500;
    font-size: 0.5em; }
  .price .currency {
    vertical-align: super; }
  .price .sub-text {
    vertical-align: baseline; }
  .price.old {
    position: relative;
    color: #cacaca;
    padding: 0 5px;
    display: inline-block;
    white-space: nowrap; }
    .price.old:before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      left: 0;
      border-bottom: 2px solid #cacaca; }

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
  text-align: left; }
  .list li {
    font-weight: 500;
    color: #48578e;
    margin-bottom: 15px; }
    .list li:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      height: 20px;
      width: 20px;
      background: no-repeat url("../images/Check 1x.png");
      background-size: contain; }

.section-main .text {
  color: #48578e; }

.section-feedbacks-list {
  display: flex; }

.feedback-card {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #0071c4, #5957ff);
  box-sizing: border-box;
  color: white;
  padding: 60px 99px 40px;
  text-align: center;
  position: relative; }
  .feedback-card img {
    width: 90px; }
  .feedback-card:before {
    background-size: contain;
    content: "";
    position: absolute;
    display: block;
    z-index: -1; }
  .feedback-card:after {
    content: "“";
    font-size: 50px;
    position: absolute;
    top: 40px;
    left: 40px; }
  .feedback-card:nth-child(1):before {
    background-image: url("../images/purpleBubble.png");
    height: 65px;
    width: 67px;
    top: -32px;
    left: -16px; }
  .feedback-card:nth-child(2):before {
    background-image: url("../images/purpleBubble2.png");
    height: 32px;
    width: 75px;
    bottom: -16px;
    right: -19px; }
  .feedback-card > * {
    margin: 0; }
  .feedback-card .feedback-text {
    margin-bottom: 20px; }
  .feedback-card .feedback-author {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 34px; }

.section {
  text-align: center; }
  .section .title {
    font-weight: 500;
    color: #2c365c;
    margin-top: 0;
    margin-bottom: 15px; }
  .section .text {
    text-align: center;
    color: #48578e; }

.section-story .steps-list {
  display: flex; }
.section-story .step img {
  margin-bottom: 20px;
  max-width: 300px; }
.section-story .step p {
  font-size: 12px;
  font-weight: 500;
  padding: 0 35px;
  color: #414b73; }

.right-sided-quote {
  color: #48578e;
  position: relative;
  padding-left: 50px;
  text-align: left; }
  .right-sided-quote .quote-icon {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 30px; }
  .right-sided-quote .quote-title {
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px; }
  .right-sided-quote .quote-text {
    margin: 0; }

.section-video {
  text-align: center; }
  .section-video .customers {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section-video .customers a {
      pointer-events: none; }
    .section-video .customers img {
      max-height: 28px; }

.section-integrations {
  color: #2c365c; }
  .section-integrations .title {
    font-weight: 500;
    text-transform: uppercase;
    color: #2c365c;
    display: inline-block; }
  .section-integrations .link {
    display: inline-block;
    vertical-align: middle; }
    .section-integrations .link img {
      max-height: 31px; }
  .section-integrations .list {
    text-align: left; }
  .section-integrations .title-list {
    font-weight: bold;
    margin: 0; }
  .section-integrations .list-integrations {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
    margin-bottom: 40px;
    border-bottom: 1px solid #cdcdcd; }
    .section-integrations .list-integrations li {
      display: inline; }
      .section-integrations .list-integrations li:after {
        content: ","; }
      .section-integrations .list-integrations li:last-of-type:after {
        content: ""; }
  .section-integrations .price-container {
    display: flex; }
    .section-integrations .price-container .list {
      flex-shrink: 0;
      margin-top: 0; }
    .section-integrations .price-container .price-info {
      padding-top: 10px;
      padding-bottom: 10px; }
    .section-integrations .price-container .price-formatted {
      color: #108ef3; }
    .section-integrations .price-container .btn {
      margin-bottom: 30px; }
  .section-integrations .list,
  .section-integrations .price-info {
    margin: 0; }

.section-achivements img {
  max-height: 45px; }
.section-achivements .achivements {
  display: flex;
  box-shadow: 0 0 14px 0 #dddddd;
  border-radius: 10px;
  background-color: white;
  text-align: left; }
  .section-achivements .achivements .achivement {
    text-decoration: none;
    position: relative;
    flex-grow: 1; }
    .section-achivements .achivements .achivement:nth-child(1) {
      border-right: 1px solid #dadada; }
    .section-achivements .achivements .achivement:before {
      content: "";
      position: absolute;
      background: no-repeat url("../images/star.png");
      background-size: contain;
      display: inline-block; }
  .section-achivements .achivements .achivement-title {
    color: #2c365c;
    font-weight: bold; }
  .section-achivements .achivements .achivement-date {
    color: #48578e; }

.section-feedback {
  position: relative;
  box-sizing: border-box;
  color: #48578e; }
  .section-feedback .feedback-author-img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 65px; }
  .section-feedback .feedback-text {
    position: relative; }
    .section-feedback .feedback-text:before {
      content: "“";
      position: absolute;
      font-size: 50px;
      top: -35px;
      left: -35px; }
  .section-feedback .feedback-author,
  .section-feedback .feedback-author-position {
    font-weight: bold;
    color: #404b77;
    margin: 0; }

.section-track .letters {
  text-align: left;
  position: relative; }
  .section-track .letters .letters-bg {
    background-image: linear-gradient(to bottom, #0b6af3, #108ef3);
    border-radius: 20px;
    position: absolute;
    width: 150%;
    z-index: -1;
    top: 0;
    right: -63%; }
.section-track .letter {
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 500; }
  .section-track .letter:before {
    content: "";
    background-image: url("../images/checkbox.png");
    background-size: contain;
    display: inline-block; }
  .section-track .letter.unchecked {
    background-color: rgba(255, 255, 255, 0.5); }
    .section-track .letter.unchecked:before {
      background-image: url("../images/checkbox_empty.png"); }
  .section-track .letter .letter-title {
    flex-grow: 1; }
  .section-track .letter .letter-type,
  .section-track .letter .letter-source {
    text-transform: uppercase; }
    .section-track .letter .letter-type:before,
    .section-track .letter .letter-source:before {
      color: rgba(37, 58, 122, 0.5); }
  .section-track .letter .letter-type {
    border-right: 1px solid #6c80ba; }
    .section-track .letter .letter-type:before {
      content: "TYPE: "; }
  .section-track .letter .letter-source:before {
    content: "SOURCE: "; }

.offer-big {
  display: flex;
  align-items: center;
  box-shadow: 0 0 14px 0 #dddddd;
  background-color: white;
  border-radius: 10px;
  text-align: center; }
  .offer-big > * {
    flex-grow: 1;
    flex-shrink: 0;
    border-right: 1px solid #979797; }
  .offer-big > div:last-of-type {
    border: none; }
  .offer-big .offer-text {
    font-weight: bold;
    color: #2c365c;
    text-align: left; }

.phases {
  display: flex;
  color: #2c365c;
  border-bottom: 1px solid #cdcdcd; }
  .phases .phase .phase-number {
    letter-spacing: 0.7px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0; }
  .phases .phase .phase-title {
    font-weight: 500;
    margin-top: 0;
    color: #2c365c;
    margin-bottom: 20px; }
  .phases .phase .phase-text {
    border-bottom: 1px solid #d7d7d7;
    font-weight: 500;
    color: #414b73;
    font-size: 12px;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  .phases .phase .phase-number,
  .phases .phase .phase-content {
    box-sizing: border-box; }

.list-faq {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left; }
  .list-faq .faq {
    width: 50%; }
  .list-faq .faq-title {
    font-weight: 500;
    color: #2c365c; }
  .list-faq .faq-text {
    color: #48578e; }

footer {
  border-top: 1px solid #d1d1d1;
  text-align: center; }
  footer img {
    height: 28px;
    margin-bottom: 15px; }
  footer p {
    font-size: 12px;
    margin: 0 20px; }

/*# sourceMappingURL=all.css.map */
