@charset "UTF-8";
@media screen and (min-device-width: 1025px) {
  main {
    max-width: 1440px; }

  #header-sticky {
    display: flex;
    border-bottom: 1px solid #dedede;
    padding: 34px 50px 36px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: -100%;
    transition: top 1s linear;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white; }
    #header-sticky.active {
      top: 0; }
    #header-sticky .title {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: #2c365c;
      margin: 0;
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0; }
    #header-sticky .logo {
      padding: 0; }
    #header-sticky .header-actions {
      display: flex;
      align-items: center; }
      #header-sticky .header-actions .btn-hint {
        margin-right: 30px; }

  .btn + .btn-hint {
    margin-top: 15px; }

  .btn-hint {
    font-size: 11px;
    color: #1479ff; }

  .content {
    max-width: 1060px; }

  .logo {
    padding: 50px; }

  .price-info {
    margin-bottom: 37px; }

  .title-main {
    font-size: 48px;
    margin-top: 5px; }

  .pre-title {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #2c365c; }

  .section-main {
    margin-bottom: 153px;
    padding-right: 49%; }
    .section-main .bg-main {
      position: absolute;
      top: -40px;
      left: 35%;
      width: 90%; }
    .section-main .text {
      padding-bottom: 35px;
      position: relative; }
      .section-main .text:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150%;
        border-bottom: 1px solid #d3d3d3; }
    .section-main .price-formatted {
      color: #108ef3;
      margin-right: 40px; }

  .section-feedbacks-list {
    justify-content: space-between;
    margin-bottom: 150px; }

  .feedback-card {
    width: calc(50% - 10px); }

  .section {
    margin-bottom: 150px; }
    .section .title {
      font-size: 36px; }
    .section .text {
      font-size: 18px;
      max-width: 642px;
      margin: 0 auto 65px; }

  .section-deliver .img-plane {
    width: 100%; }

  .section-story .text {
    margin-bottom: 113px; }
  .section-story .steps-list {
    margin-bottom: 100px; }

  .right-sided-quote {
    margin-left: 50%; }
    .right-sided-quote .quote-title {
      font-size: 18px; }

  .section-video {
    margin-bottom: 142px; }
    .section-video .video {
      height: 425px;
      width: 770px;
      margin-bottom: 50px; }
    .section-video .customers {
      padding: 0 98px; }

  .section-integrations {
    text-align: center;
    margin-top: 150px; }
    .section-integrations header {
      margin-bottom: 45px; }
    .section-integrations .title {
      font-size: 18px;
      margin-right: 20px; }
    .section-integrations .list {
      text-align: left;
      padding-right: 45px;
      padding-top: 45px;
      padding-bottom: 56px;
      border-right: 1px solid #c9c9c9; }
    .section-integrations .title-list {
      font-size: 14px;
      font-weight: bold;
      margin: 0; }
    .section-integrations .list-integrations {
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding-bottom: 50px;
      margin-bottom: 40px;
      border-bottom: 1px solid #cdcdcd; }
      .section-integrations .list-integrations li {
        display: inline; }
        .section-integrations .list-integrations li:after {
          content: ","; }
        .section-integrations .list-integrations li:last-of-type:after {
          content: ""; }
    .section-integrations .price-container {
      margin-bottom: 100px; }
      .section-integrations .price-container .list {
        flex-shrink: 0;
        margin-top: 0; }
      .section-integrations .price-container .price-info {
        padding-left: 53px;
        text-align: center; }
      .section-integrations .price-container .price.old {
        margin-bottom: 5px; }
      .section-integrations .price-container .price-formatted {
        margin-bottom: 30px; }
      .section-integrations .price-container .btn {
        margin-bottom: 30px; }
    .section-integrations .list,
    .section-integrations .price-info {
      margin: 0; }

  .section-achivements .title {
    margin-bottom: 50px;
    font-size: 24px; }
  .section-achivements .achivements {
    margin-top: 51px; }
    .section-achivements .achivements .achivement {
      padding: 51px 84px 52px 146px; }
      .section-achivements .achivements .achivement:before {
        width: 45px;
        height: 43px;
        left: 10%; }
    .section-achivements .achivements .achivement-title {
      font-size: 24px; }
    .section-achivements .achivements .achivement-date {
      font-size: 18px; }

  .section-feedback {
    padding-left: 117px;
    margin-bottom: 150px; }
    .section-feedback .feedback-text {
      margin-bottom: 16px; }
      .section-feedback .feedback-text:before {
        content: "“";
        position: absolute;
        font-size: 50px;
        top: -35px;
        left: -35px; }
    .section-feedback .feedback-author-position {
      font-size: 11px; }

  .section-track .text {
    margin-bottom: 100px; }
  .section-track .letters {
    padding-top: 81px;
    padding-bottom: 50px;
    margin-bottom: 110px; }
    .section-track .letters .letters-bg {
      width: 150%;
      right: -63%;
      height: 100%; }
  .section-track .letter {
    padding: 24px 30px;
    margin-bottom: 30px; }
    .section-track .letter:before {
      content: "";
      height: 30px;
      width: 30px;
      margin-right: 20px; }
    .section-track .letter .letter-info {
      flex-basis: 42%; }
    .section-track .letter .letter-type {
      padding-right: 20px; }
    .section-track .letter .letter-source {
      padding-left: 20px; }

  .offer-big {
    padding: 43px 50px 44px;
    margin-bottom: 30px; }
    .offer-big .offer-text {
      font-size: 30px; }
    .offer-big .btn {
      padding-left: 64px;
      padding-right: 64px; }

  .phases {
    padding-bottom: 90px; }
    .phases .phase .phase-number {
      font-size: 12px;
      margin-bottom: 10px; }
    .phases .phase .phase-title {
      font-size: 20px; }
    .phases .phase .phase-text {
      min-height: 90px; }
    .phases .phase .phase-integrations {
      font-size: 12px; }
    .phases .phase .phase-number,
    .phases .phase .phase-content {
      padding: 0 85px; }
    .phases .phase:nth-child(1) {
      max-width: 320px; }
      .phases .phase:nth-child(1) .phase-content {
        border-right: 1px solid #c9c9c9; }
      .phases .phase:nth-child(1) .phase-number,
      .phases .phase:nth-child(1) .phase-content {
        padding-left: 0; }
    .phases .phase:nth-child(2) {
      max-width: 420px; }
    .phases .phase:nth-child(3) {
      max-width: 325px; }
      .phases .phase:nth-child(3) .phase-content {
        border-left: 1px solid #c9c9c9; }
      .phases .phase:nth-child(3) .phase-number,
      .phases .phase:nth-child(3) .phase-content {
        padding-right: 0; }

  .list-faq {
    margin-botoom: 38px; }
    .list-faq .faq {
      margin-bottom: 30px;
      max-width: 470px; }
    .list-faq .faq-title {
      font-size: 24px;
      margin-bottom: 15px; }
    .list-faq .faq-text {
      font-size: 14px; }

  .m-b-100 {
    margin-bottom: 100px; }

  .section-roadmap {
    margin-bottom: 109px; }

  .section-faq {
    margin-bottom: 38px; }

  footer {
    padding: 69px 0 90px; } }

/*# sourceMappingURL=desktop.css.map */
